In [389]:
import numpy as np
import pandas as pd
import random as rand
import math
import matplotlib.pyplot as plt
from scipy.stats import norm
from sys import maxsize

In [390]:
a=np.loadtxt(open("P3a_train_data.csv", "rb"))
xs=a[0:100,0]
labels=a[0:100,1]
data = {'x': xs, 'label': labels}
df = pd.DataFrame(data=data)

In [391]:
# ### Setup
# # set random seed
# rand.seed(42)

# # 2 clusters
# # not that both covariance matrices are diagonal
# mu1 = [0, 5]
# sig1 = [ [2, 0], [0, 3] ]

# mu2 = [5, 0]
# sig2 = [ [4, 0], [0, 1] ]

In [392]:
# # generate samples
# x1, y1 = np.random.multivariate_normal(mu1, sig1, 100).T
# x2, y2 = np.random.multivariate_normal(mu2, sig2, 100).T

# xs = np.concatenate((x1, x2))
# ys = np.concatenate((y1, y2))
# labels = ([1] * 100) + ([2] * 100)

# data = {'x': xs, 'y': ys, 'label': labels}
# df = pd.DataFrame(data=data)

In [393]:
# # inspect the data
# df.head()
# df.tail()

# fig = plt.figure()
# plt.scatter(data['x'], data['y'], 24, c=data['label'])
# fig.savefig("true-values.png")

In [394]:
### Expectation-maximization

# initial guesses - intentionally bad
guess = { 'mu1': [-1],
          'sig1': [4] ,
          'mu2': [3],
          'sig2': [1],
          'lambda1': [0.3],
          'lambda2': [0.7]
        }

In [395]:
# probability that a point came from a Guassian with given parameters
# note that the covariance must be diagonal for this to work
def prob(val, mu, sig, lam):
  p =lam* norm.pdf(val, mu, sig)
  return p

In [396]:
prob(1,2,3,4)

0.503177636923991

#  Expectation

In [397]:
## assign every data point to its most likely cluster
# Classification
def expectation(dataFrame, parameters):
  for i in range(dataFrame.shape[0]):
    x = dataFrame['x'][i]
    #y = dataFrame['y'][i]
    #print( i , '\n')
    p_cluster1 = prob(x, parameters['mu1'][0], parameters['sig1'][0], parameters['lambda1'][0])
    p_cluster1
    p_cluster2 = prob(x, parameters['mu2'][0], parameters['sig2'][0], parameters['lambda2'][0])
    if p_cluster1 > p_cluster2:
      dataFrame['label'][i] = 1
    else:
      dataFrame['label'][i] = 2
  return dataFrame

In [398]:
norm.pdf(2,2,pow(2*math.pi,-0.5))

1.0

# Maximization

In [399]:
# update estimates of lambda, mu and sigma

def maximization(dataFrame, parameters):
  points_assigned_to_cluster1 = dataFrame[dataFrame['label'] == 1]
  points_assigned_to_cluster2 = dataFrame[dataFrame['label'] == 2]
  percent_assigned_to_cluster1 = len(points_assigned_to_cluster1) / float(len(dataFrame))
  percent_assigned_to_cluster2 = 1 - percent_assigned_to_cluster1
  parameters['lambda1'] = [percent_assigned_to_cluster1]
  parameters['lambda2'] = [percent_assigned_to_cluster2]
  parameters['mu1'] = [points_assigned_to_cluster1['x'].mean()]
  parameters['mu2'] = [points_assigned_to_cluster2['x'].mean()]
  parameters['sig1'] =  [points_assigned_to_cluster1['x'].std()]
  parameters['sig2'] =  [points_assigned_to_cluster2['x'].std()] 
  return parameters

In [400]:
# get the distance between points
# used for determining if params have converged
def distance(old_params, new_params):
  dist = 0
  for param in ['mu1', 'mu2']:
    for i in range(len(old_params)):
      dist += (old_params[param][i] - new_params[param][i]) ** 2
  return dist ** 0.5

In [401]:
# loop until parameters converge
shift = maxsize
epsilon = 0.01
iters = 0
df_copy = df.copy()
# randomly assign points to their initial clusters
df_copy['label'] = map(lambda x: x+1, np.random.choice(2, len(df)))
params = pd.DataFrame(guess)

while shift > epsilon:
  iters += 1
  # E-step
  updated_labels = expectation(df_copy.copy(), params)

  # M-step
  updated_parameters = maximization(updated_labels, params.copy())

  # see if our estimates of mu have changed
  # could incorporate all params, or overall log-likelihood
  shift = distance(params, updated_parameters)

  # logging
  print("iteration {}, shift {}".format(iters, shift))

  # update labels and params for the next iteration
  df_copy = updated_labels
  params = updated_parameters
  print(params)


#   fig = plt.figure()
#   plt.scatter(df_copy['x'], df_copy['y'], 24, c=df_copy['label'])
#   fig.savefig("iteration{}.png".format(iters))

C:\Users\range\.julia\conda\3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\range\.julia\conda\3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

iteration 1, shift 2.0062555288340493
        mu1      sig1       mu2      sig2  lambda1  lambda2
0  1.002239  4.037605  3.126891  1.350741     0.39     0.61
iteration 2, shift 0.26795702815881317
        mu1      sig1       mu2      sig2  lambda1  lambda2
0  0.738731  4.035254  3.175521  1.434399     0.36     0.64
iteration 3, shift 0.3553022854149856
        mu1      sig1       mu2     sig2  lambda1  lambda2
0  0.383843  4.097023  3.158385  1.57236     0.31     0.69
iteration 4, shift 0.48189239654957483
        mu1      sig1       mu2      sig2  lambda1  lambda2
0 -0.097703  4.077827  3.140107  1.731773     0.26     0.74
iteration 5, shift 0.08373207614573462
        mu1      sig1       mu2      sig2  lambda1  lambda2
0 -0.102875  4.251386  3.056535  1.783516     0.24     0.76
iteration 6, shift 0.13553165369051584
        mu1      sig1       mu2      sig2  lambda1  lambda2
0 -0.064846  4.557677  2.926448  1.868958     0.21     0.79
iteration 7, shift 0.17646231551284264
        mu1      sig1       mu2      sig2  lambda1  lambda2
0  0.049373  4.933623  2.791938  1.961157     0.18     0.82
iteration 8, shift 0.22717135859646123
        mu1      sig1       mu2      sig2  lambda1  lambda2
0 -0.137095  5.325645  2.662183  2.176441     0.13     0.87
iteration 9, shift 1.4678480183916414
        mu1      sig1      mu2      sig2  lambda1  lambda2
0 -1.600427  5.666019  2.54713  2.494743     0.06     0.94
iteration 10, shift 4.164630661828108
       mu1  sig1       mu2      sig2  lambda1  lambda2
0 -5.76169   NaN  2.379691  2.804385     0.01     0.99
iteration 11, shift nan
   mu1  sig1       mu2      sig2  lambda1  lambda2
0  NaN   NaN  2.298277  2.906536      0.0      1.0

In [403]:
params3

        mu1     sig1       mu2      sig2  lambda1  lambda2
0  4.332953  1.77231 -0.291311  1.782934     0.56     0.44

In [404]:
params2

        mu1      sig1       mu2      sig2  lambda1  lambda2
0  4.911437  1.617764  0.326946  1.942414     0.43     0.57

In [405]:
params1

        mu1      sig1       mu2      sig2  lambda1  lambda2
0 -2.438239  1.308578  3.069337  2.298011     0.14     0.86